html{
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    margin:.5rem 0;
}

.nav {
    display: grid;
}

body{
    font-family: 'Outpact';
    min-height: 100%;
    line-height: 1.25rem;
}

strong{
    text-decoration: underline;
}

hr {
    height: 2px; /* Set the height of the horizontal rule */
    background-color: var(--pkBlack);
}


h3{
    font-variation-settings: "wgth" 660;
}

h4{
    font-variation-settings: "wgth" 500;
}

.site-background  {
    width: 100vw;
    height: 100vh;
    background-color: var(--pkRed);
}

.main-grid {
    background-color: var(--pkWhite);
    display:grid;
    grid-template-columns:
        [main-start] 100% [main-end];
    grid-template-rows: 
        [main-start] auto [main-end footer-start] 1fr [footer-end];
    margin: 0 12%;
    padding:2rem;
    height: 92vh;
}

footer {
    grid-row: footer;
    margin-top: auto; /* Sticks footer to bottom of page */
}

.grid-section {
    grid-column:main;
    grid-row: main
}


.invoice-header{
    font-variation-settings: 'slnt'200;
}

.invoice-title{
    text-decoration: underline;
}

.tortilla-datos{
    grid-column: tortilla;
}

.invoice-date{
    text-align: end;
}

.invoice-footer{
    text-align: center;
}
.invoice-datos {
    display:grid;
    /* grid-template-columns: 65% 35%; */
    grid-template-columns: [tortilla-start] 65% [tortilla-end billTo-start] 35% [billTo-end];
}

.cliente-datos{
    grid-column: billTo;
}

.footer-logo {
    width: 80px;
    height: auto;
}

.centered-image{
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligns children horizontally to the center */
}

table, th, td {
    text-align: start;
    table-layout: fixed;
    border-collapse: collapse;
    border: none solid;
    padding:.5rem;
    width:100%;
  }

.invoice-table tr {
    display: grid;
    grid-template-columns: auto 15% 15%;
  }


th {
    font-variation-settings: 'wgth'500;
    border-bottom: 1px solid;
  }


  