:root {
  --ts-purple: #903bda;
  --ts-white:  #FFFFFF;
  --ts-black:  #000000;
}

@font-face {
  font-family: "Puffling V03";
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/tortillaStudio/stuff/f_dev/puffling/Puffling_latest.woff2') format('woff2');
}

/*PIGEONETTE/*
/* Regular */
@font-face {
  font-family: "Pigeonette";
  font-style: normal; /* Regular style */
  src: url('https://cdn.jsdelivr.net/gh/tortillaStudio/stuff/f_dev/pigeonette/Pigeonette_V01-Regular.woff2') format('woff2');
}
/* Bold */
@font-face {
  font-family: "Pigeonette";
  font-style: bold;
  src: url('https://cdn.jsdelivr.net/gh/tortillaStudio/stuff/f_dev/pigeonette/Pigeonette_V01-Bold.woff2') format('woff2');
}
/* Italic */
@font-face {
  font-family: "Pigeonette";
  font-style: italic;
  src: url('https://cdn.jsdelivr.net/gh/tortillaStudio/stuff/f_dev/pigeonette/Pigeonette_V01-Italic.woff2') format('woff2');
}


body {
    /* font-family: "Pigeonette", sans-serif;
    font-style: normal; */
    margin: 50px 25px;
}

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

header, footer, div.page {
    width: 760px;
    margin: 0 auto;
    background: #daeef3;
    padding: 20px 30px;
}

header h1 {
    color: #169bbd;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    background: #f1fbfe;
}
